<html>
<head>
  <title>IronhackMDB Movie</title>
</head>
<body>
  <h1>IronhackMDB Movie database</h1>
  
  <form action="/" method="post">
    <label>Enter movie name</label>
    <input name="name"><br/>

    <label>Enter your own rating</label>
    <input name="own_rating"><br/>

    <label>Enter your comment</label>
    <textarea name="own_comments"></textarea><br/>
    <input type="submit" value="Click">
  </form>

  <%= yield %>

  <br/><br/>
  <footer>
  <small>IronhackIMD Movie database</small>
  </footer>
</body>
</html>
