<html>
<head>
  <title>IronhackMDB Movie</title>
</head>
<body>
  <h1>IronhackMDB Movie database</h1>
  
  <%= yield %>

  <br/><br/>
  <footer>
  <small>IronhackIMD Movie database</small>
  </footer>
</body>
</html>
